<footer class="footer">
  <div class="footer-content">
    <ul class="footer-links">
      <li><a routerLink="/about">About</a></li>
      <li><a routerLink="/contact">Contact</a></li>
      <li><a routerLink="/privacy">Privacy</a></li>
    </ul>
    <ul class="social-media">
      <li>
        <a href="https://www.facebook.com"><i class="fab fa-facebook"></i></a>
      </li>
      <li>
        <a href="https://www.twitter.com"><i class="fab fa-twitter"></i></a>
      </li>
      <li>
        <a href="https://www.instagram.com"><i class="fab fa-instagram"></i></a>
      </li>
    </ul>
    <h6>&copy; 2025 Meals App. All rights reserved.</h6>
  </div>
</footer>
